/* Overall Game Display Styles */
.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.game-title {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

/* Searchbar styles  */

.search-container {
  text-align: center;
  margin: 20px 0;
}

.search-input {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #00ff00;
  background-color: black;
  color: #00ff00;
  border-radius: 4px;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #ff00ff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.search-button:hover {
  background-color: #ff33ff;
}

.reset-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff; 
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

.reset-button:hover {
  background-color: #0056b3; 
}

/* Styles when a game is selected */

.selected-game-container {
  text-align: center;
  width: 100%; 
  margin: 20px 0;
}

.selected-game-image {
  width: 700px;
  height: auto;
}

.game-screenshots {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-screenshots img {
  width: 31.33%; 
  height: 100%;
  max-height: 300px;
  border-radius: 8px;
}

.game-screenshots button {
  background: none;
  border: none;
  color: white; 
  cursor: pointer;
  font-size: 24px;
}

